
 h1{
    font-size: 23px;
 }
 
 h2{
    font-size: 21px;
}
h3{
    font-size: 19px;
}
h4{    
    font-size: 17px;
}
h5{
    font-size: 16px;

}
h6{
    font-size: 15px;
}
p,span,a{    
    font-size: 14px;
}